	
<aside class="sidebar " id="thb-sidebar-main">
	<section id="thb_video_widget-2" class="widget widget_thb_video_widget">
        {{#videos}}
            <a href="http://vimeo.com/{{id}}" class="mfp-iframe">
                <img src="{{image}}" />
            </a>
        {{/videos}}
{{!         <iframe  class=" thb_video" id="thb_video_1" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="16" height="9" src="http://player.vimeo.com/video/78274295?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=thb_video_1&amp;color=ffffff&amp;loop=0&amp;autoplay=0"  data-ratio="16/9" data-fixed_height="" data-fixed_width="" data-type="vimeo"></iframe>
 }}    </section>
    <section id="socialinks-2" class="widget socialink">
        <p class="social">
            <a href="https://www.facebook.com/ursamaiorteatro" title="Facebook Profile"><img src="/img/facebook_small.png" alt="Facebook"/></a> 
            <a href="http://twitter.com/ursamaiorteatro" title="Twitter Profile"><img src="/img/twitter_small.png" alt="Twitter"/></a> 
            <a href="javascript:window.location.href = 'mailto:in' + ['fo','umtea'].join('@') + 'tro.it'" title="Email Address"><img src="/img/email_small.png" alt="Email"/></a>
        </p>
    </section>
    <section id="paypal_donations-2" class="widget widget_paypal_donations">
        <header>
            <h1 class="widgettitle"><a href="/en/support">Support the Project</a></h1>
        </header>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <div class="paypal-donations">
                <input type="hidden" name="cmd" value="_donations" />
                <input type="hidden" name="business" value="marco.cedaro@gmail.com" />
                <input type="hidden" name="item_name" value="Donazione Liberale associazione Ursa Maior Teatro" />
                <input type="hidden" name="amount" value="2" />
                <input type="hidden" name="rm" value="0" />
                <input type="hidden" name="currency_code" value="GBP" />
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online." />
                <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </div>
        </form>
    </section>	
</aside>