<section id="footer">
	<div class="wrapper">
		<div id="bottom-footer" class="w-page-footer">
			<p id="copyright">
				<a id="footerlogo" href="/" title="Marcel" rel="home">Marcel</a>
				<span> &mdash; <a href="https://ursamaior.net/"><img src="/favicon.ico" style="vertical-align:bottom"/> Ursa Maior Teatro</a></span>
				<small> - powered by <a href="https://www.contentful.com/" target="_blank" rel="noopener noreferrer">Contentful<a></small>
			</p>
			<a href="#" data-icon="u" class="gotop"></a>
		</div>
	</div>
</section>

				
		
