<header id="header">
	
	{{> nav }}
	
	<div class="wrapper">
		<header class="pageheader">
			<h1>{{title}}</h1>
		</header>
	</div>

	<div id="thb-featuredimage-background">
		<div class="thb-featuredimage-background-container">
			<img src="" data-src="/img/marcel.jpg" alt="" />
		</div>

		<div class="thb-featuredimage-background-overlay"></div>
	</div>
</header><!-- /#header -->