<!doctype html>
<html lang="en-US" class="responsive_768 responsive_480">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{title}} | {{seo}}</title>

		{{#stylesheet_bundle}}/css/bundle.css{{/stylesheet_bundle}}

		<script type='text/javascript'>
			/* <![CDATA[ */
				var brm_text = {"more":"(more)","less":"(less)"};
			/* ]]> */
		</script>
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
		<link hreflang="it" href="/it/ethics/" rel="alternate" />

		<meta name="description" itemprop="description" content="Art is politics, is a mirror of our society. Theatre is great when it tells something more than what you can read in a script. That’s why theatre can be" />
	</head>
