{{> head }}
	<body class="page page-template-default logo-left w-sidebar sidebar-right logo-left pageheader-layout-left pageheader-big thb-desktop">
		<div id="page">

			{{> header }}

				<section id="page-content">
			
				<div class="wrapper">
					<section id="content">
						<div class="thb-text">
							{{{content}}}
						</div>
					</section>
			
					{{> aside}}

				</div><!-- /.wrapper -->
			</section><!-- /#content -->
				
			{{> footer }}
		</div><!-- /#page -->
{{> footerscripts }}