<div class="menu-main-menu-container">
	<ul id="menu-main-menu" class="menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page">
			<a href="/">{{site-title}}</a>
		</li>
		{{#navbar}}
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="{{#lang}}/{{lang}}{{/lang}}{{href}}">{{label}}</a>
			</li>
		{{/navbar}}
	</ul>
</div>