<div class="header-container">
	<div class="wrapper">
		<a href="#" id="nav-trigger">m</a>

		<div class="nav-wrapper">
			<nav id="main-nav" class="main-navigation primary">
				{{> menu }}
			</nav>

			<nav id="mobile-nav" class="main-navigation primary">
				{{> menu }}
			</nav>
		</div>
	</div>
</div>
