{{> head }}
	<style>
		@import url(/css/home.css);		
	</style>
	<body class="home page page-template page-template-template-showcase-php logo-left logo-left pageheader-layout-left pageheader-big thb-desktop">
		<div id="page">
			{{> nav}}
			<div id="thb-home-slides" class="home-page-content-wrapper">
				<div data-i="0" class="thb-home-slide homepage active">
					<img src="" data-src="http://marcelonstage.co.uk/img/marcel.jpg" alt="">
			
					<div class="thb-home-slide-overlay"></div>

					<div class="thb-home-slide-caption">
						<div class="wrapper">
							<div class="thb-banner">
								<h1>{{site-title}}</h1>
								<div class="thb-paragraph">
									{{{tagline}}}<br />
									{{{content}}}		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{> footerscripts }}	


